/*region name */
/*margin left right top bottom position relative absolute fixed display inline block width height vertical-align letter-spacing padding
line-height text-align background image no-repeat color url position fixed border radius solid cursor pointer
transition animation family Microsoft Yahei white-space nowrap float hidden overflow scroll linear keyframes transform scale rotate translate font family font size*/
/*endregion*/

time = 1.5s
.boxLoading
    position absolute
    cursor progress
    z-index 1000
    background #f6f6f6
    width 100%
    height 100%
    left 0
    top 0
    display table-cell
    vertical-align middle
    text-align center
    &-fullWindow
        position fixed
    &-opacity
        background rgba(255, 255, 255, 0.6)
    &-contain
        height 100%
        width 100%
        display table
    &-content
        display table-cell
        vertical-align middle
        text-align center
        > span
            display inline-block
            width 15px
            height 15px
            background #07d1ff
            border-radius 50% !important
            transform scale(0)
            &:nth-child(1)
                animation: loading0 time ease-in-out infinite;
            &:nth-child(2)
                animation: loading1 time ease-in-out infinite;
            &:nth-child(3)
                animation: loading2 time ease-in-out infinite;

@keyframes loading0
    0%
        transform scale(0)
    30%
        transform scale(1)
    60%
        transform scale(0)

@keyframes loading1
    10%
        transform scale(0)
    40%
        transform scale(1)
    70%
        transform scale(0)

@keyframes loading2
    30%
        transform scale(0)
    60%
        transform scale(1)
    90%
        transform scale(0)